body {
    background-color: #282923;
    color: #ffffe6;
    font-size: 18px;
    font-family: Merriweather;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
}

.col-md-4 {
    background-color: black;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.99), 0 2px 2px 0px rgba(0, 0, 0, 0.99);
    font-size: 14px;
    width: 31%;
    margin-left: 13px;
    margin-right: 13px;
    padding-left: 25px;
    padding-right: 25px;
}

.imageContainer01 {
    float: right;
    padding: 30px;
}

.pSmaller {
    font-size: 18px;
    font-family: Raleway;
}

.scrollable-element {
    scrollbar-color: red yellow;
}

select {
    background-color: #252120;
    color: #ffffe6;
    max-width: 280px;
}

table {
    margin-top: 10px;
}

td, th {
    border-bottom: 1px solid #ddd;
    padding: 6px;
    text-align: center;
    vertical-align: middle !important;
}

.container {
    margin: auto;
    max-width: 2400px;
}

.form-dropdown option {
    background-color: #252120 !important;
}

.hiddenRow {
    display:none;
}

.submitRow {
    text-align: left;
}

.visibleRow {
    display:table-row;
}

.disabledInput {
    disabled:disabled;
    background-color:darkgray;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

button {
    background-color: #4B0082;
    border-radius: 8px;
    color: #F8F8FF;
    padding: 6px 10px;
}

input[type="submit"] {
    background-color: #4B0082;
    border-radius: 8px;
    color: #F8F8FF;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 24px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

h1, h2, h3, h4, h5, h6 {
    color: #F2EAE9;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
textarea {
    color: #070F2E;
    max-width: 280px;
}

.navbar-inverse {
    background-color: #01030C;
}

.subject-info-box-1,
.subject-info-box-2 {
    float: left;
    width: 45%;
}

select[multiple] {
    height: 200px;
    padding: 0;
}
.option{
    padding: 4px 10px 4px 10px;
}

.option:hover {
    background: #EEEEEE;
}

.subject-info-arrows {
    float: left;
    width: 10%;
}

.btn-default {
    width: 70%;
    margin-bottom: 5px;
}

.lead {
    font-family:Raleway;
}

* {
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 26.4px;
    color: #ffffe6;
}

.wrapper {
    display: grid;
    grid-template-columns: 800px 150px 60px 350px 150px;
    color: #444;
    grid-auto-rows: minmax(50px, auto);
    padding-top: 15px;
}

.box {
    color: #fff;
}

.a {
    grid-column: 1;
    grid-row: 1;
}

.b {
    grid-column: 2;
    grid-row: 1;
}

.c {
    grid-column: 1 / 2;
    grid-row: 2;
}

.d {
    grid-column: 1 / 2;
    grid-row: 3;
}

.e {
    grid-column: 1 / 2;
    grid-row: 4;
}

.f {
    grid-column: 3 / 5;
    grid-row: 1;
}

.g {
    grid-column: 3;
    grid-row: 2 / 4;
}

.h {
    grid-column: 4;
    grid-row: 2 / 4;
}

.i {
    grid-column: 5;
    grid-row: 2 / 4;
}

.wkTitle {
    font-size: 42px;
    padding-bottom: 30px;
    padding-left: 25px;
    width: 750px;
    display: block;
    float: left;
}

.buttonContainer {
    width: 50px;
    display: block;
    float: left;
}

.bigTimer {
    font-size: 64px;
    font-family: Ubuntu;
}

.intensityText {
    border: 1px solid white;
    font-size: 28px;
    font-weight: bold;
    height: 58px;
    line-height: 58px;
    text-align: center;
}

.mainComponentContainer {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.99), 0 2px 2px 0px rgba(0, 0, 0, 0.99);
    padding-top: 40px;
    padding-bottom: 40px;
    display: block;
    height: auto;
    width: 800px;
    float: left;
    clear: left;
    font-size: 42px;
    background-color: black;
    text-align: center;
    border-style: groove;
    border: 2px solid blue;
    border-radius: 30px;
}

.mainTimerContainer {
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;
    width: 800px;
    float: left;
    clear: left;
    font-size: 64px;
    background-color: black;
    text-align: center;
    border-style: groove;
    border: 2px solid blue;
    border-radius: 30px;
}

.mainTimerFooter {
    padding-top: 10px;
    padding-bottom: 30px;
    width: 775px;
    float: left;
    clear: left;
    font-family: Raleway;
    font-size: 18px;
    text-align: right;
}

.segmentsText {
    border: 1px solid #282923;
    font-family: Raleway;
    font-size: 28px;
    height: 58px;
    line-height: 58px;
    padding-left: 10px;
}

.segmentTitle {
    font-family: Raleway;
    font-size: 32px;
    height: 58px;
    line-height: 58px;
}

.segmentTimerContainer {
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;
    width: 800px;
    float: left;
    clear: left;
    font-size: 64px;
    font-family: Roboto;
    background-color: black;
    text-align: center;
    border-style: groove;
    border: 2px solid blue;
    border-radius: 30px;
}

.segmentTimerFooter {
    padding-top: 10px;
    padding-bottom: 50px;
    width: 775px;
    float: left;
    clear: left;
    font-family: Raleway;
    font-size: 18px;
    text-align: right;
}

.segmentTips {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    width: 800px;
    font-size: 32px;
    text-align: center;
    line-height: 48px;
}

.segmentTipsFooter {
    padding-top: 10px;
    width: 775px;
    float: left;
    clear: left;
    font-family: Raleway;
    font-size: 18px;
    text-align: right;
}

.segmentTitleContainer {
    display: block;
    width: 450px;
    float: right;
    background-color: black;
    text-align: center;
    border-style: groove;
    border: 2px solid blue;
    border-radius: 20px;
    margin-bottom: 15px;
    vertical-align: middle;
}

.segmentTitleLabel {
    padding-top: 15px;
    padding-left: 20px;
    font-size: 28px;
    float: left;
    width: 300px;
}

.upcomingSegmentsTitle {
    display: block;
    width: 600px;
    float: left;
    font-size: 32px;
}

.upcomingSegmentsIntensityContainer {
    display: block;
    float: left;
    width: 60px;
}

.upcomingSegmentsTitleContainer {
    background-color: black;
    display: block;
    float: left;
    font-size: 28px;
    width: 500px;
}


.upcomingSegmentsWindowContainer {
    background-color: black;
    display: block;
    float: left;
    font-size: 28px;
    width: 250px;
}

.jumbotron {
    background-color: black;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.99), 0 2px 2px 0px rgba(0, 0, 0, 0.99);
}

.zPageHead01 {
    background-color: black;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.99), 0 2px 2px 0px rgba(0, 0, 0, 0.99);
    padding: 5px 10px 5px 25px;
    width: 95%;
}

.zPageBody01 {
    background-color: black;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.99), 0 2px 2px 0px rgba(0, 0, 0, 0.99);
    margin-top:20px;
    max-height: 700px;
    padding: 5px 10px 25px 25px;
    width: 95%;
    overflow-y:scroll;
}

.zPageFooter01 {
    background-color: black;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.99), 0 2px 2px 0px rgba(0, 0, 0, 0.99);
    border-top: 2px;
    border-top-color:grey;
    margin-top: 1em;
    padding: 5px 10px 5px 25px;
    width: 95%;
}