body {
    background-color: #252120;
    color: #BBBCBF;
    font-size: 18px;
    font-family: Montserrat;
    padding-top: 50px;
    padding-bottom: 20px;
}

select {
    background-color: #252120;
    color: #BBBCBF;
    max-width: 280px;
}

table {
    margin-top: 10px;
}

.form-dropdown option {
    background-color: #252120 !important;
}


.hiddenRow {
    display:none;
}

.visibleRow {
    display:table-row;
}

.disabledInput {
    disabled:disabled;
    background-color:darkgray;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

button {
    background-color: #0F1A40;
    border-radius: 8px;
    color: #F8F8FF;
}

input[type="submit"] {
    background-color: #4B0082;
    border-radius: 8px;
    color: #F8F8FF;
    margin-top: 10px;
    padding: 10px 24px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

h1, h2, h3, h4, h5, h6 {
    color: #F2EAE9;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
textarea {
    color: #070F2E;
    max-width: 280px;
}

.navbar-inverse {
    background-color: #01030C;
}

td, th {
    padding: 6px;
}

.subject-info-box-1,
.subject-info-box-2 {
    float: left;
    width: 45%;
}

select[multiple] {
    height: 200px;
    padding: 0;
}
.option{
    padding: 4px 10px 4px 10px;
}

.option:hover {
    background: #EEEEEE;
}

.subject-info-arrows {
    float: left;
    width: 10%;
}

.btn-default {
    width: 70%;
    margin-bottom: 5px;
}

* {
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 26.4px;
    color: #ffffe6;
}

body {
    background: #333333;
    margin: 40px;
}

.wrapper {
    display: grid;
    grid-template-columns: 600px 300px 60px 450px 250px;
    background-color: #333333;
    color: #444;
    grid-auto-rows: minmax(50px, auto);
    margin-left: auto;
    margin-right: auto;
}

.box {
    background-color: #333333;
    color: #fff;
}

.a {
    grid-column: 1;
    grid-row: 1;
}

.b {
    grid-column: 2;
    grid-row: 1;
}

.c {
    grid-column: 1 / 2;
    grid-row: 2;
}

.d {
    grid-column: 1 / 2;
    grid-row: 3;
}

.e {
    grid-column: 1 / 2;
    grid-row: 4;
}

.f {
    grid-column: 3 / 5;
    grid-row: 1;
}

.g {
    grid-column: 3;
    grid-row: 2 / 4;
}

.h {
    grid-column: 4;
    grid-row: 2 / 4;
}

.i {
    grid-column: 5;
    grid-row: 2 / 4;
}

.wkTitle {
    font-size: 42px;
    padding-left: 50px;
    width: 450px;
    display: block;
    float: left;
}

.buttonContainer {
    width: 150px;
    display: block;
    float: left;
}

.bigTimer {
    font-size: 64px;
}

.intensityText {
    border: 1px solid white;
    font-size: 28px;
    font-weight: bold;
    height: 58px;
    line-height: 58px;
    text-align: center;
}

.mainComponentContainer {
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;
    height: auto;
    width: 750px;
    float: left;
    clear: left;
    font-size: 42px;
    background-color: black;
    text-align: center;
    border-style: groove;
    border: 2px solid blue;
    border-radius: 30px;
}

.mainTimerContainer {
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;
    width: 750px;
    float: left;
    clear: left;
    font-size: 64px;
    background-color: black;
    text-align: center;
    border-style: groove;
    border: 2px solid blue;
    border-radius: 30px;
}

.mainTimerFooter {
    padding-top: 10px;
    padding-bottom: 30px;
    width: 725px;
    float: left;
    clear: left;
    font-size: 18px;
    text-align: right;
}

.segmentsText {
    border: 1px solid #595959;
    font-size: 28px;
    height: 58px;
    line-height: 58px;
    padding-left: 10px;
}

.segmentTimerContainer {
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;
    width: 750px;
    float: left;
    clear: left;
    font-size: 64px;
    background-color: black;
    text-align: center;
    border-style: groove;
    border: 2px solid blue;
    border-radius: 30px;
}

.segmentTimerFooter {
    padding-top: 10px;
    padding-bottom: 50px;
    width: 725px;
    float: left;
    clear: left;
    font-size: 18px;
    text-align: right;
}

.segmentTips {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    width: 650px;
    font-size: 32px;
    text-align: center;
    line-height: 48px;
}

.segmentTipsFooter {
    padding-top: 10px;
    width: 725px;
    float: left;
    clear: left;
    font-size: 18px;
    text-align: right;
}

.segmentTitleContainer {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    width: 300px;
    float: right;
    font-size: 32px;
    background-color: black;
    text-align: center;
    border-style: groove;
    border: 2px solid blue;
    border-radius: 15px;
    margin-bottom: 15px;
    vertical-align: middle;
}

.segmentTitleLabel {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    width: 500px;
    font-size: 28px;
    vertical-align: bottom;
}

.upcomingSegmentsTitle {
    display: block;
    width: 600px;
    float: left;
    font-size: 48px;
}

.upcomingSegmentsIntensityContainer {
    display: block;
    float: left;
    width: 60px;
}

.upcomingSegmentsTitleContainer {
    background-color: black;
    display: block;
    float: left;
    font-size: 32px;
    width: 500px;
}


.upcomingSegmentsWindowContainer {
    background-color: black;
    display: block;
    float: left;
    font-size: 32px;
    width: 250px;
}