@model Danimoth

<div class="wrapper">

    <!----------------------- Title and Start Button ------------------------->

    <div class="box a">
        <span id="workoutTitle" class="wkTitle"></span>
    </div>

    <div class="box b">
        <span class="buttonContainer">
            <button class ="btnStartTimer" type="button">Start</button>
        </span>
    </div>
    <!------------------------------------------------------------------------>
    <!------------------------- Main Timer Section --------------------------->

    <div class="box c">
        <div class="mainComponentContainer">
            <div id="mainTimer" class="bigTimer"></div>
        </div>
        <span class="mainTimerFooter">Time Remaining in Workout</span>
    </div>
    <!------------------------------------------------------------------------>
    <!----------------------- Current Segment Section ------------------------>

    <div class="box d">
        <span class="segmentTitleLabel">Current Segment: </span>

        <div class="segmentTitleContainer">
            <div id="segmentTitle" class="segmentTitle"></div>
        </div>

        <div class="mainComponentContainer">
            <div id="segmentTimer" class="bigTimer"></div>
        </div>

        <span class="segmentTimerFooter">Time Remaining in Segment</span>
    </div>
    <!------------------------------------------------------------------------>
    <!------------------------- Segment Tips Section ------------------------->

    <div class="box e">
        <div class="mainComponentContainer">
            <div id="segmentTips" class="segmentTips"></div>
        </div>
        <span class="segmentTipsFooter">Segment Tip</span>
    </div>
    <!------------------------------------------------------------------------>
    <!---------------------- Upcoming Segments Section ----------------------->

    <div class="box f">
        <span class="upcomingSegmentsTitle">Upcoming Segments</span>
    </div>

    <div class="box g">
        <div class="upcomingSegmentsIntensityContainer">
            <div id="upcomingSegment1intensity" class="intensityText">*</div>
            <div id="upcomingSegment2intensity" class="intensityText">*</div>
            <div id="upcomingSegment3intensity" class="intensityText">*</div>
            <div id="upcomingSegment4intensity" class="intensityText">*</div>
            <div id="upcomingSegment5intensity" class="intensityText">*</div>
        </div>
    </div>

    <div class="box h">
        <div class="upcomingSegmentsTitleContainer">
            <div id="upcomingSegment1title" class="segmentsText"></div>
            <div id="upcomingSegment2title" class="segmentsText"></div>
            <div id="upcomingSegment3title" class="segmentsText"></div>
            <div id="upcomingSegment4title" class="segmentsText"></div>
            <div id="upcomingSegment5title" class="segmentsText"></div>
        </div>
    </div>

    <div class="box i">
        <div class="upcomingSegmentsWindowContainer">
            <div id="upcomingSegment1window" class="segmentsText"></div>
            <div id="upcomingSegment2window" class="segmentsText"></div>
            <div id="upcomingSegment3window" class="segmentsText"></div>
            <div id="upcomingSegment4window" class="segmentsText"></div>
            <div id="upcomingSegment5window" class="segmentsText"></div>
        </div>
    </div>
    <!------------------------------------------------------------------------>

</div>

<script>

    // Override normal page width
    $(document).ready(function () {
        $('.container').each(function () {
            $(this).css('width', '1650px');
        })
    });

    // Create json version of MVC model
    var jsonModel = @Html.Raw(Json.Encode(Model));

    // Convert model to js object
    var segAry = [];

    for (var seg of jsonModel.Dts) {
        segAry.push(newSegment(seg.RSegmentName, seg.RWkseg.Duration, seg.RSegmentIntensity, seg.RTip.Text));
    }

    // Create js object for main program and call it
    var w1 = newWorkout(jsonModel.DWorkoutName, "", "", segAry);
    loadElements(w1);

</script>