<div class="jumbotron">
    <div class="imageContainer01"><img src="~/Content/protoss.PNG" height="250"/></div>
    <h1>TPBF3</h1>
    <br />
    <p class="lead">
        The Swarm brought ruin to our world. &nbsp;Our proud people became refugees. &nbsp;And yet, they could not shatter our unity. &nbsp;For we are bound by the Khala.
        &nbsp;The sacred union of our every emotion and thought. &nbsp;Today we retake our homeworld. &nbsp;And with it, our legacy!
    </p>
    <br />
    <p><a class="btn btn-primary btn-lg" href="~/Home/WarpIn2/">For Aiur! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Quest for Uraj</h3>
        <br />
        <p class="pSmaller">
            My friends, this is our final hour. Not all of us may survive the coming conflict. Yet, death may be a blessing should we fail here.  But never think that I would, for one moment, regret my actions.
            For I am Templar, and above all else, I have sworn to protect our Homeworld 'till the end.
        </p>
        <br />
        <p><a class="btn btn-default" href="~/Home/Gateway/">For Adun! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>The Insurgent</h3>
        <br />
        <p class="pSmaller">
            For we now fight in the belief that our kind has not seen its end. That we protoss can stand bound by a belief in unity. And that we protoss will forge a great and mighty new civilization!
            Strike as one will! Let our last stand burn a memory so bright that we will be known throughout eternity!
        </p>
        <br />
        <p><a class="btn btn-default" href="~/Home/Templar/">Tanakala! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Dunes of Shakuras</h3>
        <br />
        <p class="pSmaller">
            We seek now to destroy a foe that has ravaged across the universe consuming all in its path.  The Overmind has come to destroy all that we hold dear and assimilate us.
            And now it has reached the end of its long journey.  I say to thee, this shall not come to pass! Aiur shall not fall! Executor, I stand ready!
        </p>
        <br />
        <p><a class="btn btn-default" href="~/Home/WarpIn1/">F2 + Attack Move &raquo;</a></p>
    </div>
</div>