@model Warpgate

@using (Ajax.BeginForm("WarpIn1Form", "Home", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "id1",
    LoadingElementId = "LoadingImage",
    OnSuccess = "onSuccess_Message",
    OnFailure = "onFailure_Message"
}))
{
    <h2>Select Workout</h2>
    <table id="myTbl" class="table table-condensed nestedtablewithactions" summary="Defined Types">
        <tr>
            <th>@Html.DropDownListFor(m => m.Gateway.Workoutpk, Model.DDLWorkouts)</th>
            <th class="submitRow"><input id="submit1" type="submit" value="Select" /></th>
        </tr>
    </table>
}