@model List<Warpgate>

@using (Ajax.BeginForm("WarpIn2Form", "Home", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "id1",
    LoadingElementId = "LoadingImage",
    OnSuccess = "onSuccess_Message",
    OnFailure = "onFailure_Message"
}))
{
<h2>Select Workout</h2>
<table id="myTbl" class="table table-condensed nestedtablewithactions" summary="Defined Types">
    <tr>
        <td>Select Warmup</td>
        <td>@Html.DropDownListFor(m => m[0].Gateway.Workoutpk, Model[0].DDLWorkouts)</td>
        <td class="wkDesc"><div id="WarmUpDesc1"></div></td>
    </tr>
    <tr>
        <td>Select Workout</td>
        <td>@Html.DropDownListFor(m => m[1].Gateway.Workoutpk, Model[1].DDLWorkouts)</td>
        <td class="wkDesc"><div id="WorkoutDesc2"></div></td>
    </tr>
    <tr>
        <td colspan="3" class="submitRow"><input id="submit1" type="submit" value="Select" /></td>
    </tr>
</table>
}