@model List<Warpgate>

<script type="text/javascript">

    // [0] JQUERY to populate descriptions
    

</script>

@using (Ajax.BeginForm("WarpIn2Form", "Home", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "id1",
    LoadingElementId = "LoadingImage",
    OnSuccess = "onSuccess_Message",
    OnFailure = "onFailure_Message"
}))
{
<h2>Select Workout</h2>
<table id="myTbl" class="table table-condensed nestedtablewithactions" summary="Defined Types">
    <tr>
        <td>Selct Warmup</td>
        <td>@Html.DropDownListFor(m => m[0].Gateway.Workoutpk, Model[0].DDLWorkouts)</td>
        <td>@Html.DropDownListFor(m => m[0].Gateway.Workoutpk, Model[0].DDLWorkouts)</td>
        <td><div id="WarmUpDesc"></div></td>
    </tr>
    <tr>
        <td>Select Workout</td>
        <td>@Html.DropDownListFor(m => m[1].Gateway.Workoutpk, Model[1].DDLWorkouts)</td>
        <td><div id="WorkoutDesc"></div></td>
    </tr>
    <tr>
        <td colspan="3"><input id="submit1" type="submit" value="Select" /></td>
    </tr>
</table>
}