@model TrainerPalBuddyFriend3.Wkseg
<script scr="@Url.Content("~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>
<script scr="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

<h4 id="id2" style="color:purple"></h4>
<hr />
<h3><b>Add Segments to Workouts</b></h3>
@if (Model.DropDownList2 == null)
{
    using (Ajax.BeginForm("Form7", "Home", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "id3",
        LoadingElementId = "LoadingImage",
        OnSuccess = "onSuccess_Message",
        OnFailure = "onFailure_Message"

    }))
    {
        <table>
            <tr>
                <td>Select Workout: </td>
                <td>@Html.DropDownListFor(m => m.Workouts.Workoutpk, Model.DropDownList)</td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit Form" /></td>
            </tr>
        </table>
        <div id="LoadingImage" style="display:none">Loading...</div>
        <div id="onSuccess_Message"></div>
        <div id="onFailure_Message"></div>
    }
}

// ---------------- Select Segments - Double Select List ------------------- //

// src: esausilva.com/2016/01/29/move-items-between-two-listbox-using-jquery-html-select-tag/
else
{

    using (Ajax.BeginForm("Form8", "Home", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "id4",
        LoadingElementId = "LoadingImage",
        OnSuccess = "onSuccess_Message",
        OnFailure = "onFailure_Message"
    }))
    {
        <div class="subject-info-box-1">
            <select multiple="multiple" id='lstBox1' class="form-control">
                <option value="ajax">Ajax</option>
                <option value="jquery">jQuery</option>
                <option value="javascript">JavaScript</option>
                <option value="mootool">MooTools</option>
                <option value="prototype">Prototype</option>
                <option value="dojo">Dojo</option>
            </select>
        </div>
        <div class="subject-info-arrows text-center">
            <input type="button" id="btnAllRight" value=">>" class="btn btn-default" /><br />
            <input type="button" id="btnRight" value=">" class="btn btn-default" /><br />
            <input type="button" id="btnLeft" value="<" class="btn btn-default" /><br />
            <input type="button" id="btnAllLeft" value="<<" class="btn btn-default" />
        </div>
        <div class="subject-info-box-2">
            <select multiple="multiple" id='lstBox2' class="form-control">
                <option value="asp">ASP.NET</option>
                <option value="c#">C#</option>
                <option value="vb">VB.NET</option>
                <option value="java">Java</option>
                <option value="php">PHP</option>
                <option value="python">Python</option>
            </select>
        </div>
        <div class="clearfix"></div>

        <table>
            <tr>
                <td>Available Segments: </td>
                <td>@Html.ListBoxFor(m => m.Segments.Segmentpk, Model.DropDownList2)</td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit Form" /></td>
            </tr>
        </table>
        <div id="LoadingImage2" style="display:none">Loading...</div>
        <div id="onSuccess_Message2"></div>
        <div id="onFailure_Message2"></div>
    }

    <script>

        jQuery(document).ready(function ($) {
            $('#btnRight').click(function (e) {
                var selectedOpts = $('#lstBox1 option:selected');
                if (selectedOpts.length == 0) {
                    alert("Nothing to move.");
                    e.preventDefault();
                }
                $('#lstBox2').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
            });
            $('#btnAllRight').click(function (e) {
                var selectedOpts = $('#lstBox1 option');
                if (selectedOpts.length == 0) {
                    alert("Nothing to move.");
                    e.preventDefault();
                }
                $('#lstBox2').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
            });
            $('#btnLeft').click(function (e) {
                var selectedOpts = $('#lstBox2 option:selected');
                if (selectedOpts.length == 0) {
                    alert("Nothing to move.");
                    e.preventDefault();
                }
                $('#lstBox1').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
            });
            $('#btnAllLeft').click(function (e) {
                var selectedOpts = $('#lstBox2 option');
                if (selectedOpts.length == 0) {
                    alert("Nothing to move.");
                    e.preventDefault();
                }
                $('#lstBox1').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
            });
        });

    </script>

    // ----------------------------------------------------------------------- //
}
